# Compiled binaries
build/
*.o
*.out

# Build folders
build/

# Screenshots
ScreenShots/

# Random notes
attacklist.txt
roadmapv2.txt
StupidWizardsAttacks.txt
attackslist.txt
story.md
norsespells.md
old/

# Dev junk
*.log
*.tmp

# Neovim swap files
*.swp
