# Compiled binaries
stupidWizards
stupid_wizards
StupidWizards
*.o
*.out

# Build folders
build/

# Screenshots
ScreenShots/

# Random notes
attacklist.txt
roadmapv2.txt
StupidWizardsAttacks.txt
attackslist.txt
story/
old/

# Dev junk
*.log
*.tmp

# Neovim swap files
*.swp
